
body {
    background-color: #000000;
    color: rgb(251, 4, 8);
    font-family: "Bungee";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 15;
}
button {
    background-color: #f4f5f4;
    color: rgb(10, 11, 10);
    font-family: "";
}
.passo {
    display: none;
}
.passo.ativo {
    display:block;
}
main {
    text-align: center;
    max-width: 90%;
}
img {
    max-width: 100%;
}
